@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

#title-container h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: white
}	

#title-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    
    color: white;
}

.menu-container h2 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333
}

.menu-container h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #333333
}

.option p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #A6A6A6;
}

.option p:nth-child(4) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

#footer button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

#modal-title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white
}

#modal-main-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: white
}

#finish-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #50D074;
    border: none;
}

#cancel-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
}