* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.visible {
    display: block;
}

.bonus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-bonus {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.remove-position {
    position: initial !important;
}



.pointer:hover {
    cursor: pointer;
}

#body-container {
    width: 412px;
    margin: 0 auto;
    background-color: #E5E5E5;
    position: relative;
}

#header {
    background-color: rgba(255, 0, 0, 0.966);
    height: 92px;

    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 412px;

    z-index: 2;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#main-content {
    margin-top: 92px;
    margin-bottom: 90px;
}

#title-container {

    margin-left: 15px;
}

#title-container h1 {
    color: white
}

.header-menu {
    height: 73px;
    display: flex;

    align-items: center;
}

.header-menu h2 {
    margin-left: 15px;
}

.options-container {
    height: 250px;
    display: flex;
    align-items: center;

    overflow-x: scroll;
}

.option {
    background-color: white;
    width: 172px;

    display: flex;
    flex-direction: column;

    padding: 11px;
    border-radius: 10px;
    margin-left: 10px;

    position: relative;

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.option h3 {
    margin: 10px 0;
}

.option p:nth-child(3) {
    margin: 0 0 10px 0;
}

.option img:nth-child(5) {
    width: 15px;
    height: 15px;

    position: absolute;

    right: 2px;
    bottom: 2px;
}

#footer {
    background-color: white;
    height: 92px;
    width: 412px;

    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    z-index: 2;
}

#buttonFinishOff {
    width: 364px;
    height: 61px;

    border: none;
    border-radius: 50px;

    background-color: #CBCBCB;
}

#buttonFinishOn {
    width: 364px;
    height: 61px;

    border: none;
    border-radius: 50px;

    background-color: green;
}

#body-bonus {
    margin: 0 auto;
    background-color: rgba(253, 255, 250, 0.822);
    position: fixed;

    height: 1000px;
    width: 412px;

    z-index: 2;

}

#modal-bonus {
    background-color: #50D074;
    width: 377px;
    height: 353px;
}

#modal-title {

    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-main-content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px;

    margin-bottom: 13px;
}

#modal-finish-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
}

#finish-button {
    background-color: white;
    width: 329px;
    height: 52px;
    border-radius: 50px;
}

#modal-cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;

}

#cancel-button {
    background-color: #50D074;
}